<div class="container-fluid background">
    <ol class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link icon-link link-light" [routerLink]="['/']">Home</a></li>
        <li class="nav-item"><a class="nav-link icon-link link-light" [routerLink]="['/youtube']">Youtube Analytics</a></li>
        <li class="nav-item"><a class="nav-link icon-link link-light" [routerLink]="['/video-tools']">Video Tools</a></li>
        <li class="nav-item"><a class="nav-link icon-link link-light" [routerLink]="['/podcast-dex']">Podcast Dex</a></li>
        <li class="nav-item"><a class="nav-link icon-link link-light" [routerLink]="['/status']">Status</a></li>
    </ol>
</div>
