<h1>hacho</h1>
<ul>
  <li>Desenvolvimento de Software</li>
  <li>Apps Mobile</li>
  <li>Inteligencia Artificial</li>
</ul>
<hr class="border border-dark border-1 opacity-50">
<hr class="border border-dark border-2 opacity-75">
<hr class="border border-dark border-3 opacity-100">

<button type="button" class="btn btn-outline-primary">ng-bootstrap</button>
<button type="button" class="btn btn-outline-secondary">installed</button>
<button type="button" class="btn btn-outline-danger">with</button>
<button type="button" class="btn btn-outline-success">SUCCESS</button>

<hr class="border border-dark border-3 opacity-100">
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>
<router-outlet></router-outlet>
