<ol>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/']">Home</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/youtube']">Youtube Analytics</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/video-tools']">Video Tools</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/podcast-dex']">Podcast Dex</a></li>
</ol>
<hr>
<div class="container background">
  <h1 class="hacho hacho-name">hacho</h1>
  <ul class="hacho hacho-subtitles">
    <li>Desenvolvimento de Software</li>
    <li>Apps Mobile</li>
    <li>Inteligencia Artificial</li>
  </ul>
</div>


<hr>

<router-outlet></router-outlet>